{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Iniciar Sesión.</h1>
		<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo electrónico" required autofocus>
		<br><br>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
		<button class="btn btn-lg btn-primary btn-block" id="bton_login">Ingresar</button>
	</form>
	<div class="d-flex flex-column">
   		<a class='m-auto text-white' href="#" id="olvidar_pass">¿Ha olvidado su contraseña?</a>
	</div>
</div>
{% endblock contenido %}