/*Fuentes*/
.poppins{
	font-family: 'Poppins', sans-serif !important;
}
.monserrat{
	font-family: 'Montserrat', sans-serif !important;
}
.tam-fuente{
	font-size: 23px !important;
}
.tamfuente26{
	font-size: 26px !important;
}
.tamfuente22{
	font-size: 22px !important;
}
.main_contenededor{
	min-height: 100vh;
	height: 100%
}
.aligncenter{
	text-align: center;
}
.textblack{color: #141d28!important;}
.text-light-grey{
	color: #abb5c7!important;
}
.nav-link{color: #abb5c7!important;}
.search-bar{
	position: initial!important;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	max-width: 1300px!important;
}
.form-control{
	display: inline-block!important;
	width: calc( 100% - 107px )!important;
}
#error_msg{
	color: red;
}
footer{
	text-align: center;
	background-color: black;

}
.flexcontainer{
	color: white;
	font-size: larger;
}
.nodecoration{
	text-decoration: none!important;
}
a{
	text-decoration: none!important;
	color: #abb5c7!important;
}
#bton_buscar2{
	background-color: #181a1d!important;
	border-color: #181a1d!important;
}
#header_container{
	background-color: black!important;
	padding-left: 32px!important;
    padding-right: 32px!important;
}
/*-------------------------------------------------------
					LOGIN DE BOOTSTRAP
---------------------------------------------------------*/
.login-dark {
  height:1000px;
  background:#475d62;
  background-size:cover;
  position:relative;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}