/*Fuentes*/
.poppins{
	font-family: 'Poppins', sans-serif !important;
}
.monserrat{
	font-family: 'Montserrat', sans-serif !important;
}
.tam-fuente{
	font-size: 23px !important;
}
.tamfuente26{
	font-size: 26px !important;
}
.tamfuente22{
	font-size: 22px !important;
}
.main_contenededor{
	min-height: 100vh;
	height: 100%
}
.aligncenter{
	text-align: center;
}
.dark_black{
	color: #181a1d!important;
}
.textblack{color: #141d28!important;}
.text-light-grey{
	color: #abb5c7!important;
}
.text-white{
	color:white;
}
.nav-link{color: #abb5c7!important;}
.search-bar{
	position: initial!important;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	max-width: 1300px!important;
}
.form-control{
	display: inline-block!important;
	width: calc( 100% - 107px )!important;
}
#error_msg{
	color: red;
}

.flexcontainer{
	color: white;
	font-size: larger;
}
.nodecoration{
	text-decoration: none!important;
}
a{
	text-decoration: none!important;
}
#bton_buscar2{
	background-color: #118038!important;
	border-color: #118038!important;
}
/*Header container*/
#header_container{
	background-color: #118038!important;
	padding-left: 32px!important;
    padding-right: 32px!important;
}
/*Footer configs*/
footer{
	text-align: center;
	background-color: #118038;
}
/*-------------------------------------------------------
					LOGIN DE BOOTSTRAP
---------------------------------------------------------*/
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 15px;
	
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#bton_login{
	width: 330px!important;
	background-color: #181a1d!important;
	border-color: #181a1d!important;
}
#olvidar_pass{
	color: #181a1d!important;
}
#inputEmail{
	width: 330px!important;
}
#inputPassword{
	width: 330px!important;
}
/*Estilos visuales SweetAlert*/
.swal-button--confirm{
	background-color: #288620;
}
/*---------------------------------------------Ediciones de Tabla---------------------------------*/
thead{
	background-color: #118038;
	color: #fff;
}
/*------------------------------------------------------------------------------------------------*/