{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="" id="header_container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom poppins">
	  <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light-grey text-decoration-none tamfuente26">
	    <span class="fs-4">Post Venta</span>
	  </a>
	  <ul class="nav nav-pill  tam-fuente aligncenter textblack">
	    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link text-light-grey" aria-current="page">Inicio</a></li>
	    <li class="nav-item"><a href="#" class="nav-link text-light-grey">Compras</a></li>
	    <li class="nav-item"><a href="{% url 'devolucion' %}" class="nav-link">Devoluciones</a></li>
	    <li class="nav-item"><a href="#" class="nav-link text-light-grey">Preguntas Frecuentes</a></li>
	    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light-grey" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item dark_black aligncenter" href="{% url 'cuenta' %}">Iniciar Sesión</a></li>
              <li><a class="dropdown-item dark_black aligncenter" href="#">Perfil</a></li>
              <li><a class="dropdown-item dark_black aligncenter" href="#">Cerrar sesión</a></li>
            </ul>
         </li>
	  </ul>
	</header>
</div>