{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br>
	<h1 class="aligncenter decoracion_linea text-white">Gestión Anexo Boleta.</h1>
	<br><br><br>
	<div class="search-bar mt-sm-2">
		<input type="text" class="form-control tamfuente22" name="q" id="id_buscar20" placeholder="Escriba el Rut de la petición a buscar...">
		<button class="btn btn-lg btn-primary btn-block" id="bton_buscar3" onclick="anexoBoletaSearch()" type="button">Buscar</button>
		<div id="error_msg10" class="aligncenter text-white"></div>
		<br><br>
		<div id="tabla_revision_cli">
			<h2 class="text-white">Datos del Cliente:</h2>
			<br>
			<table class="table table-striped dt-responsive nowrap table-bordered" id="tabla_cliente_fill_anexo">
					<thead>
						<tr>
							<th scope="col">Rut</th>
							<th scope="col">Nombre Cliente</th>
							<th scope="col">Número telefono</th>
							<th scope="col">Email</th>
							<th scope="col">Dirección</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
			</table>
			<br>
			<div id="error_msg11" class="aligncenter"></div>
			<div id="tabla_Boletas_cd">
				<h2 class="text-white">Boletas:</h2>
				<br>
				<table class="table table-striped dt-responsive nowrap table-bordered" id="tabla_anexo_boleta_stuff">
					<thead>
						<tr>
							<th scope="col">Mostrar Productos</th>
							<th scope="col">Número Boleta</th>
							<th scope="col">Fecha</th>
							<th scope="col">Total boleta anterior</th>
							<th scope="col">Monto Final boleta</th>
							<th scope="col">Monto a Devolver</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="tabla_revision_productos_mostrar">
				<h2 class="text-white">Productos de Boleta en proceso de devolución:</h2>
				<br>
				<table class="table table-striped dt-responsive nowrap table-bordered" id="tabla_anexo_bol_prod">
					<thead>
						<tr>
							<th scope="col">Producto</th>
							<th scope="col">Precio c/u.</th>
							<th scope="col">Cantidad</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>			
				<br>
				<br>
			</div>
		</div>
		<br><br>
		<h2 class="text-white">Enviar Anexo Boleta:</h2>
		<br>
		<div class="container">
			<div class="row mt-3">
				<div class="col text-white">
						<label for="Rut" class="aligncenter">Rut:</label>
						<br>
						<input type="text" name="rut" id="rut12">
						<br>
						<label for="nombre_cl" class="aligncenter">Nombre Cliente:</label>
						<br>
						<input type="text" name="nombre_cl" id="nombre_cl12">
						<br>
						<label for="num_telf" class="aligncenter">Teléfono:</label>
						<br>
						<input type="text" name="num_telf" id="num_telf12">
						<br>
						<label for="email" class="aligncenter">Email:</label>
						<br>
						<input type="email" name="email" id="email12">
						<br>
						<label for="direccion" class="aligncenter">Dirección:</label>
						<br>
						<input type="text" name="direccion" id="direccion12">
						<br>
						<label for="total" class="aligncenter">Total antes devolución:</label>
						<br>
						<input type="text" name="total" id="total12">
						<br>
						<label for="total_dev" class="aligncenter">Monto a devolver:</label>
						<br>
						<input type="text" name="total_dev" id="total_dev12">
						<br>
						<label for="monto_dev" class="aligncenter">Monto boleta tras devolución:</label>
						<br>
						<input type="text" name="monto_dev" id="monto_dev12">
						<br>
						<br>
						<button class="btn btn-primary bton_color2" onclick="enviar_anexo_boleta_func()">Enviar</button>
						<button class="btn btn-primary bton_color2" onclick="limpiar_anexus_boletus()">Limpiar</button>
					<br><br>
				</div>
			</div>
		</div>	
		<!--<script>
			const myForm = document.getElementById('myForm');

			myForm.addEventListener('submit', function (e){
				e.preventDefault();

				const formData = new FormData(this);
				fetch("http://35.171.203.143/AnexoBoleta/",{

					method: 'POST',
	  				body: formData,})
				.then(function (response){
					return response.text();
				})
				.then(function (text){
					console.log(text);
				})
				.catch(function(error){
					console.error(error);
				})			
			});
		</script>-->
	</div>
</div>

{% endblock contenido %}