{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br>
	<h1 class="aligncenter">Proceso de Devolución de Productos.</h1>
	<br><br>
	<div class="search-bar mt-sm-2">
		<input type="text" class="form-control tamfuente22" name="q" id="id_buscar" placeholder="Escriba el Id de Transacción aquí...">
		<button class="btn btn-lg btn-primary btn-block" onclick="prueba()" id="bton_buscar2" type="button">Buscar</button>
		<div id="error_msg" class="aligncenter"></div>
		<br><br>
		<div id="myData">
			<h2>Datos del Cliente</h2>
			<br>
			<table class="table table-striped dt-responsive nowrap table-bordered">
					<thead>
						<tr>
							<th scope="col">Rut</th>
							<th scope="col">Nombre Cliente</th>
							<th scope="col">Dirección</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="rut_p"></td>
							<td id="nombre_cliente"></td>
							<td id="direccion"></td>
						</tr>
					</tbody>
			</table>
			<br>
			<h2>Seleccione su Boleta:</h2>
			<br>
			<table class="table dt-responsive nowrap table-bordered" id="table_checkbox">
				<thead>
					<tr>
						<th scope="col">#</th>	
						<th scope="col">Número Boleta</th>
						<th scope="col">Fecha</th>
						<th scope="col">Total</th>

					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<br>
			<div id="error_msg2" class="aligncenter"></div>
			<div id="tabla_de_productos">
			<h2>Seleccione los productos que desee devolver:</h2>
			<br>
			<table class="table table-striped dt-responsive nowrap table-bordered" id="table_product">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Producto</th>
						<th scope="col">Precio c/u.</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
			<br>
			<button onclick="selectall()">Seleccionar Todas</button>
			<button onclick="unselectall()">Deseleccionar todas</button>
			<button id="button_save">Siguiente</button>
			<br>
			</div>
		</div>
		<br><br>
	</div>
</div>
{% endblock contenido %}