{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br>
	<h1 class="aligncenter">Proceso de Devolución de Productos.</h1>
	<br><br>
	<div class="search-bar mt-sm-2 ">
		<form method="get">
			<input type="text" class="form-control tamfuente22" name="q" id="id_buscar" placeholder="Busca su boleta aquí...">
			<button class="btn btn-lg btn-primary btn-block" onclick="prueba()" id="bton_buscar2" type="submit">Buscar</button>
		</form>
	</div>
</div>
{% endblock contenido %}