{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}


<h1>Solicitudes Devolución Pendientes</h1>
	<table class="table table-striped table-hover table table-bordered">
		<thead>
			<tr>
				<th scope="col">Rut</th>
				<th scope="col">Nombre</th>
				<th scope="col">Direccion</th>
			</tr>
		</thead>
		{% for cliente in lista_clientes %}
		<tbody>
			<tr>
				<td>{{ cliente }}</td>
				<td>{{ cliente.nombre_cl }}</td>
				<td>{{ cliente.direccion }}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>

{% endblock contenido %}