{% extends "paginas_post_venta/base/main.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br>
	<h1 class="aligncenter">Proceso de revisión de devoluciones.</h1>
	<br><br>
	<div class="search-bar mt-sm-2">
		<!--
			---------------------------------------------------------------------------
											Form del seba
			---------------------------------------------------------------------------
		-->
		<input type="text" class="form-control tamfuente22" name="q" id="id_buscar5" placeholder="Escriba el Id de Transacción aquí...">
		<button class="btn btn-lg btn-primary btn-block" id="bton_buscar3" onclick="revision_search()" type="button">Buscar</button>
		<div id="error_msg5" class="aligncenter"></div>
		<br><br>
		<div id="tabla_revision_cli">
			<h2>Datos del Cliente</h2>
			<br>
			<table class="table table-striped dt-responsive nowrap table-bordered" id="tabla_cliente">
					<thead>
						<tr>
							<th scope="col">Rut</th>
							<th scope="col">Nombre Cliente</th>
							<th scope="col">Dirección</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
			</table>
			<br>
			<h2>Seleccione su Boleta:</h2>
			<br>
			<table class="table dt-responsive nowrap table-bordered" id="tabla_boleta">
				<thead>
					<tr>
						<th scope="col"></th>	
						<th scope="col">Número Boleta</th>
						<th scope="col">Fecha</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<br>
			<div id="error_msg2" class="aligncenter"></div>
			<div id="tabla_revision_productos_mostrar">
			<h2>Seleccione los productos que desee devolver:</h2>
			<br>
			<table class="table table-striped dt-responsive nowrap table-bordered" id="tabla_revision_prod">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Producto</th>
						<th scope="col">Precio c/u.</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>			
			<br>
			<button>Seleccionar Todas</button>
			<button>Deseleccionar todas</button>
			<button>Confirmar</button>
			<br>
			</div>
		</div>
		<br><br>
	</div>
</div>
{% endblock contenido %}